// import google font

/* reset styles */
* {
    padding: 0;
    margin: 0;
}

body {
    background: $gradient;
    background-size: 100%;
    color: $textMain;
    overflow-x: hidden;
    margin: -8px;
    letter-spacing: 2px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: $highlight;
}

h1,
h2,
h3,
h4 {
    margin: $base-margin;
}

p {
    margin: 13%;
    padding: $base-padding;
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;
}

ul {
    padding: 0;
    list-style-type: none;
}